<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Pedido</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body class="main-center">
    <h2>Estado de su Pedido</h2>

    {% if pedido %}
    <div class="info">
        <p><strong>Dirección:</strong> {{ pedido.calle }}</p>
        <p><strong>Cantidad:</strong> {{ pedido.cantidad_bidones }} bidones</p>
        <p><strong>Estado actual:</strong> {{ pedido.get_estado_display }}</p>
    </div>

    <div class="estados">
        <div class="card espera {% if pedido.estado == 'espera' %}activo{% endif %}">
            <p>Pedido en espera</p>
        </div>

        <div class="card camino {% if pedido.estado == 'camino' %}activo{% endif %}">
            <p>Pedido en camino</p>
        </div>

        <div class="card entregado {% if pedido.estado == 'entregado' %}activo{% endif %}">
            <p>Pedido entregado</p>
        </div>
    </div>

    <a href="/menu_cliente" class="btn-volver">Volver al menú</a>

    {% else %}
        <p style="text-align:center; color:red;">Aún no ha realizado ningún pedido.</p>
    {% endif %}
</body>
</html>
