<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sección de Pedidos</title>
</head>
<body>
    <div class="pedido-container">
        <h2>Ingrese los datos para su pedido</h2>
        
        {% if messages %}
            {% for message in messages %}
                {% if 'error' in message.tags %}
                    <div class="mensaje error">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Confirmar Pedido</button>
            <a href="/confirmar_pedido/"></a>
        </form>
    </div>
</body>
</html>
