<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú del Cliente</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body class="main-center">
    <header class="header">
        <img src="{% static 'img/images.png' %}" alt="Logo Nature Andes" class="logo">
        <h1 class="title">Menú del Cliente</h1>
    </header>

    <main class="menu-container">
        <h2>Bienvenido al sistema, cliente</h2>
        <div class="menu-botones">
            <a href="/menu_pedidos/" class="btn btn-secundario">Realizar pedido</a>
            <a href="/detalles_pedido/" class="btn btn-secundario">Ver detalles del pedido</a>
            <a href="/logout/" class="btn btn-peligro">Cerrar sesión</a>
        </div>
    </main>

    <footer>
        <p>Nature Andes © 2025</p>
    </footer>
</body>
</html>
